.profile-img {
  webkit-animation: profile_animate 8s ease-in-out 1s infinite;
  animation: profile_animate 8s ease-in-out 1s infinite;
  background: url('/images/me.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(255, 255, 255/30%);
  height: 300px;
  justify-self: center;
  order: 1;
  width: 300px;
}
@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
@media only screen and (min-width: 600px) {
  .bgBlur {
    transition: all 0.3s linear;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(4px);
    @apply shadow-lg shadow-indigo-400/30;
  }
}
