@tailwind base;
@layer base {
  html {
    @apply font-Roboto;
  }
  .bg-light {
    @apply bg-white;
  }
  .bg-dark {
    @apply bg-gradient-to-br from-[#121212] from-25%  to-[#1E3A8A];
  }
  body {
    @apply transition-all duration-200 object-cover object-center bg-no-repeat bg-light dark:bg-dark;
  }
}
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-hover {
    @apply dark:text-light text-dark font-normal dark:font-light text-base hover:text-transparent dark:hover:text-transparent hover:bg-clip-text hover:bg-gradient-orange hover:border-b transition-all border-[#EF4444];
  }
  .bg-gradient-orange {
    @apply bg-gradient-to-r from-[#F59E0B] to-[#EF4444];
  }
  .bg-gradient-purple {
    @apply bg-gradient-to-r from-[#8B5CF6] to-[#EC4899];
  }
  .button {
    @apply cursor-pointer px-7 py-1 transition-all;
  }
  .text-heading {
    @apply dark:text-light text-dark font-semibold text-4xl md:text-5xl text-center after:mx-auto after:mb-0 after:block after:mt-9 after:rounded-full after:h-1 after:w-24 after:-translate-y-1 after:bg-gradient-to-r from-[#8B5CF6] to-[#EC4899] after:content-[""];
  }
  .link-description > p > a {
    @apply underline hover:text-blue-400;
  }
}
header > .container > nav {
  background-color: initial !important;
}
header > nav .active {
  @apply font-semibold text-white;
}

.scrolled {
  transition: all 0.3s linear;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(8px);
  @apply shadow-md shadow-indigo-200/10;
}
